.pagination {
    display:flex;
    list-style: none;
    margin-left: 45%;
  
}

.page-item {
    border: 1px solid #2b2eff;
    padding: 5px;
   border-radius: 5px;
   margin: 8px;
   color: #2b2eff;
   cursor: pointer;
   
}
