.content-table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 50px;
  font-size: 0.9em;
  width: 80%;
  border-radius: 5px 5px 0 0;    
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  padding: 12px ;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 1px solid #009879;
}

.fas {
  cursor: pointer;
}


.content-table tbody tr:hover {
 color: red;
 cursor: pointer;
}

.content-table tbody tr td .fas:active {
  color: green;
}

.box {
  border: 2px solid gray;
  margin-top: 100px;
  border-radius: 10px;
  margin-left: 100px;
  padding-bottom: 10px;
  margin-right: 100px;
  height: 700px;
}

.btn-add {
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  background-color: red;
  width: 100px;
  height: 30px;
  margin-left: 50%;
  margin-right: 50%;
  margin-top:20px;
}

.title-list {
  margin-left: 160px;
}

.content-list {
  margin-left: 160px;
  color: red;
  font-weight: bold;
}

